@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{
    background-color: #347C98;
    font-family: Josefin Sans;
}
h1,h2,h3,h4,h5,h6{
    color: #FCCB1D;
    margin: 0;
}
.todo-container{
    height: auto;
    /* background-color: rgb(226, 121, 121); */
    /* padding: 1rem; */
}
.custom-input-field input[type=text]{
    padding-right: 40px;
    transition: 2s;
}
/* .custom-input-field input[type=text]:focus +i{
    color: rgb(13 110 253 / 25%);
} */
.custom-input-field{
    position: relative;
}
.custom-input-field i{
    position: absolute;
    right: 0;
    top: 5px;
    padding: 5px 10px;
    margin: auto;
    text-align: center;
    transition: 2s;
    cursor: pointer;
}
.todolist{
    background-color: #092834;
    border-radius: 6px;
}
.todolist i{
    color:#C21460;
    cursor: pointer;
    text-align: center;

    display: flex;
    align-items: center;
    
}
.todolist i:nth-child(1){
    padding-left: 8px;
}
.todolist i:nth-child(3){
    padding-left: 0;
    padding-right: 8px;
    justify-content: flex-end;
}
.features{
    padding: 10px 30px;
    border: 15px solid;
    border-radius: 25px;
    margin-bottom: 15px;
}
.features ol li{
    font-size: 25px;
    color: rgb(247, 240, 212);
}